TreeList3{
    float:left;
    clear:left;
    fill:white5;
    fill-alpha:1;
    line:#B8B8B8;
    line-alpha:1;
    line-offset-type:inside;
    line-thickness:1px;
}
TreeList3 Container#lable{
    width:100%;
    height:100%;
    float:left;
    clear:left;
}
/*Text*/
TreeList3 Text{
	width:100%;
	float:left;
	clear:none;/*counter-measure if another Text style has clear:left*/
	height:24px;
	font:Helvetica Neue;
	autoSize:left;
	size:12px;
	align:left;
	color:#8899A6;
    border:false;
	wordWrap:true;
	selectable:false;
	mouseEnabled:false;
	margin-top:3px;
	padding-bottom:-3px;/*counter-measure for the margin top, temp fix*/
}
TreeList3 Container#lable :selected{
	fill:grey9;
	fill-alpha:1;
}
/*TreeListItem*/
TreeList3 Container#lable TreeList3Item{
	float:left;
	clear:left;
	width:100%;
	height:24px;
	fill:white;
	fill-alpha:0;
}
/*TreeListItem - CheckBox*/
TreeList3 CheckBoxButton{
    width:100%;
}
TreeList3 CheckBox{
	float:left;
	fill:yellow,~/Desktop/ElCapitan/svg/arrow_right.svg grey6;/*grey5*/
    transform:rotate(0deg),rotate(0deg);
	fill-alpha:0,1;
	line:none,none;
	corner-radius:0px;
	height:24px,12px;
	width:24px,12px;
}
TreeList3 CheckBox:checked{
	fill:orange,~/Desktop/ElCapitan/svg/arrow_right.svg grey6;/*grey5*/
    transform:rotate(0deg),rotate(90deg);
	fill-alpha:0,1;
	line:none,none;
}
TreeList3 Container#lable TreeList3Item CheckBox{
    margin-top:0px,6px;
}
/*Level 1*/
TreeList3 Container#lable TreeList3Item#1 CheckBox{
    margin-left:0ems,6px;
}
/*Level 2*/
TreeList3 Container#lable TreeList3Item#2 CheckBox{
	margin-left:1.5ems,30px;
}
/*Level 3*/
TreeList3 Container#lable TreeList3Item#3 CheckBox{
	margin-left:3ems,56px;
}
/*Level 4*/
TreeList3 Container#lable TreeList3Item#4 CheckBox{
	margin-left:4.5ems,80px;
}
/*Level 5*/
TreeList3 Container#lable TreeList3Item#5 CheckBox{
	margin-left:6.0ems,104px;
}
/*Level 5*/
TreeList3 Container#lable TreeList3Item#6 CheckBox{
	margin-left:7.5ems,128px;
}