VList{
    float:left;
    clear:left;
    /*width:138px;*/
    /*height:71px;*/
    fill:green;
    fill-alpha:0.2;
    line:#B8B8B8;
    line-alpha:0;
    line-offset-type:outside;
    line-thickness:0px;
}
VList Container#lable{
    width:100%;
    float:left;
    clear:left;
}
/*Button*/
VList Container#lable SelectTextButton{
    float:left;
    clear:none;
    /*width:100%;*/
    /*height:24px;*/
    fill:red;
    fill-alpha:0.0;
    padding-right:0px;
}
VList Container#lable SelectTextButton:selected{
	fill:#D4D4D4;
    fill-alpha:1;
}
/*Text*/
VList Container#lable SelectTextButton Text{
    float:none;
    clear:none;
    width:100%;
    height:24px;
    margin-left:0px;
    margin-top:0px;
    autoSize:left;
    font:Helvetica Neue;
    size:10;
    align:center;
    /*color:black;*/
    color:#C5C9CC;
    selectable:false;
    border:false;
}
VList Container#lable SelectTextButton:selected Text{
	font:Helvetica Neue Bold;
}