#iconButtonCard Button#question{
	float:left;
	clear:left;
	fill:white,~/Desktop/ElCapitan/svg/question.svg #0A4DCB;
	width:20px,20px;
	height:20px,20px;
	line:#CECECE;
	line-alpha:1;
	line-thickness:1px;
	line-offset-type:outside;
	margin-top:0px,1px;
	margin-left:0px,1px;
	corner-radius:10;
}