Table{
	float:left;
	clear:left;
	width:190px;
	height:120px;
	fill:white;
	line:CDCDCD;
	line-alpha:1;
	line-offset-type:outside;
	line-thickness:1px;
}
Table Container#column{
	float:left;
	width:100%;
}
Table Column{
	float:left;
	width:100px;
}
Table Column#0{
	width:50px;
}
Table Column#1{
	width:69px;
}
Table Column#2{
	width:69px;
}
/*Header*/
Table Column CheckTextButton#header{
	float:left;
	width:100%,12px;
	height:24px,12px;
	fill:white,~/Desktop/ElCapitan/svg/arrow_down.svg grey6;
	line:#DFDFDF,none;
	line-alpha:1;
	line-thickness:1px;
	line-offset-type-top:inside;
	line-offset-type-left:outside;
	line-offset-type-right:outside;
	margin-left:0px,100%;
	offset:0px 0px,-18px 7px;
}
Table Column CheckTextButton#header:checked{
	fill:white,../../svg/arrow_up.svg grey6;
}
Table Column#0 CheckTextButton#header{
	line-offset-type-left:inside;
	line-offset-type-right:inside;
}
Table Column#2 CheckTextButton#header{
	line-offset-type-left:outside;
	line-offset-type-right:inside;
	padding-left:-1px;
}
Table Column CheckTextButton#header Text{
	width:100%;
	height:24px;
	margin-top:3;
	margin-left:12px;
	float:left;
	font:Helvetica Neue;
	size:12px;
	align:left;
	color:grey6;
	wordWrap:true;
	selectable:false;
}
/*List*/
Table Column List{
	width:100%;
	height:96px;
	float:left;
	clear:left;
}
Table Column List Container{
	float:left;
	width:100%;
}
Table Column List SelectTextButton{
	width:100%;
	height:24px;
	float:left;
	clear:left;
	fill:white;
	fill-alpha:1;
	line-alpha:1;
	line-thickness:1px;
	line:white;
	line-offset-type-top:inside;
	line-offset-type-left:outside;
	line-offset-type-right:outside;
	line-offset-type-bottom:inside;
}
Table Column List SelectTextButton:selected{
	fill:#0950D0;
	fill-alpha:1;
	line:#0950D0;
	line-alpha:1;
}
Table Column List SelectTextButton Text{
	float:left;
	margin-left:12px;
	margin-top:3;
	width:100%;
	height:24px;
	font:Helvetica Neue;
	size:12px;
	align:left;
	color:black;
	wordWrap:true;
	selectable:false;
}
Table Column List SelectTextButton:selected Text{
	color:white;
}
