FilePicker{
    float:left;
    clear:left;
}
FilePicker TextInput{
    width:calc(100% -70px);
    margin-right:10px;
	float:left;
	clear:none;
}
FilePicker TextButton{
    width:60px;
	float:left;
	clear:none;
}
FilePicker TextButton Text{
	height:22px;
	size:12px;
	bold:true;
}