Text{
	float:left;
	clear:left;
	/*height:20px;<-this was 72px, which was obviously wrong, use TextArea if you need to set the height dynamically actually the height should not exist in css*/
	font:Helvetica Neue;
	size:12px;
	align:left;
	type:dynamic;
	color:grey6;
	selectable:true;
	wordWrap:true;
	/*margin-top:4px;*/
}