/*Button*/
Button{
	float:left;
	clear:left;
	fill:linear-gradient(top,white,white);
	fill-alpha:1;
	line:white;
	line-alpha:1;
	line-thickness:1px;
	line-offset-type:outside;
	corner-radius:4px;
	drop-shadow:<SubtleShadow>;
}
Button:down{
	fill:linear-gradient(top,#69B2FD,#007AFF);
	line:#005CFF;
}