/*leverSpinner css*/
Spinner{
	float:left;
	clear:left;
	width:140px;
	height:22px;
}
Spinner TextInput{
	float:left;
	width:90px;
	height:22px;
	/*margin-right:12px; <-bug fix*/
}
/*text css*/
Spinner TextInput Text{
	width:40px;
	height:22px;
	wordWrap:true;
	color:gray;
	backgroundColor:orange;
	background:false;
	/*margin-top:1px;*/
	float:left;
}
Spinner TextInput TextArea{
	width:50px;
	height:20px;
	float:left;
	/*clear:none;*/
	fill:white;
	fill-alpha:1;
	line:#A4A4A4;
	/*padding:0px;*/
	line-alpha:1;
	line-thickness:1px;
	line-offset-type:outside;
	/*margin-right:6px;*/
}
Spinner TextInput TextArea Text{
	width:100%;
	align:right;
	selectable:true;
	type:input;
	/*margin-top:0px;*/
	/*margin-left:0px; cosmetic fix*/
	backgroundColor:yellow;
	background:false;
}
Spinner Stepper{
	clear:none;
	margin-left:6px;
	margin-top:2px;
}