/*RadioBullet*/
RadioBullet#blue{
	fill:#96D2FF;
	line:#69A0CD;
}
RadioBullet#red{
	fill:#FF7C7D;
	line:#D25050;
}
RadioBullet#orange{
	fill:#FFC83C;
	line:#FF9B10;
}
RadioBullet#green{
	fill:#BEF027;
	line:#A0CD1E;
}
RadioBullet#yellow{
	fill:#FFF028;
	line:#E6D202;
}
RadioBullet#purple{
	fill:#EBB4FF;
	line:#D76DFF;
}
RadioBullet#grey{
	fill:#C8C8C8;
	line:#A0A0A0;
}