#iconButtonsCard SelectButton{
	float:left;
	clear:none;
	width:30px,22px;
	height:22px,22px;
	margin-left:0px,4px;
	line:#CECECE;
	line-alpha:1;
	line-thickness:0.5px;
	line-offset-type:outside;
	margin-top:0px,1px;
	margin-left:0px,1px;
	drop-shadow:<SubtleShadow>;
}
#iconButtonsCard SelectButton#first{
	clear:left;
	fill:white,../../svg/view/icons.svg #585858;
	corner-radius:4px 0px 4px 0px;
	lline-offset-type-right:inside;
}
#iconButtonsCard SelectButton#first:selected{
	fill:#6E6C6E,../../svg/view/icons.svg white;
}
#iconButtonsCard SelectButton#second{
	fill:white,../../svg/view/list.svg #585858;
	corner-radius:0px;
	line-offset-type-right:inside;
	line-offset-type-left:inside;
}
#iconButtonsCard SelectButton#second:selected{
	fill:#6E6C6E,../../svg/view/list.svg white;
}
#iconButtonsCard SelectButton#third{
	fill:white,../../svg/view/columns.svg #585858;
	corner-radius:0px;
	lline-offset-type-right:inside;
	line-offset-type-left:inside;
}
#iconButtonsCard SelectButton#third:selected{
	fill:#6E6C6E,../../svg/view/columns.svg white;
}
#iconButtonsCard SelectButton#fourth{
	fill:white,../../svg/view/coverflow.svg #585858;
	corner-radius:0px 4px 0px 4px;
	line-offset-type-left:inside;
}
#iconButtonsCard SelectButton#fourth:selected{
	fill:#6E6C6E,../../svg/view/coverflow.svg white;
}
