ComboBox{
	float:left;
	clear:left;
	width:170px;
	height:24px;/*was 96px*/
}
ComboBox TextButton{
	width:100%,24px;
	height:24px,24px;
	fill:linear-gradient(top,white,white),../../svg/icons/popup_menu_arrows.svg grey;
	padding:-1px;
	margin-left:0px,100%;
	offset:0px 0px,-24px 1px;
	drop-shadow:<SubtleShadow>;
	corner-radius:4px;
}
ComboBox TextButton Text{
	size:14px;
	color:black;
	align:left;
	margin-left:12px;
}
/*List*/
Window#comboBox{
	fill:white;
	fill-alpha:1;
}
Window#comboBox List{
	float:left;
	clear:left;
	corner-radius:4px;
	width:170px;
    fill-alpha:0;
    line-alpha:0;
	line-thickness:0px;
	margin-top:4px;
}
Window#comboBox List Container SelectTextButton{
	fill:white;
	fill-alpha:0;
}
Window#comboBox List Container SelectTextButton:selected{
	fill:#0950D0;
	fill-alpha:1;
}
Window#comboBox List Container SelectTextButton Text{
	color:black;
	type:static;
	selectable:false;
}
Window#comboBox List Container SelectTextButton:selected Text{
	color:white;
}
