/*TreeList*/
TreeList{
	float:left;
	clear:left;
	/*width:138px;*//*<-this is a fix until padding works corectly*/
	/*height:190px;*/
	fill:yellow;
	fill-alpha:0;
	fill-alpha:1;
	line:#CDCDCD;
	line-alpha:1;
	line-offset-type:outside;
	line-thickness:1px;
}
TreeList Container#lable{
	float:left;
	clear:left;
	width:100%;
}
TreeList Container#maskContainer{
	float:left;
	clear:left;
	width:100%;
}
/*Text*/
TreeList Text{
	width:100%;/*116*/
	float:left;
	clear:none;/*counter-measure if another Text style has clear:left*/
	height:24px;
	font:Helvetica Neue;
	autoSize:left;
	size:12px;
	align:left;
	color:black;
	wordWrap:true;
	selectable:false;
	mouseEnabled:false;
	margin-top:3px;
	padding-bottom:-3px;/*counter-measure for the margin top, temp fix*/
}
/*SelectButton*/
TreeList SelectTextButton{
	width:100%;
	height:24px;
	float:left;
	clear:left;
	fill:white;
	fill-alpha:1;
}
TreeList :selected{
	fill:white9;
	fill-alpha:1;
}
TreeList SelectTextButton Text{
	float:left;
	width:100%;/*116px*/
}
/*TreeListItem*/
TreeList TreeListItem{
	float:left;
	clear:left;
	width:100%;
	height:24px;
	fill:white;
	fill-alpha:1;
}
/*TreeListItem - CheckBox*/
TreeList TreeListItem CheckBox{
	float:left;
	fill:grey5,../../svg/arrow_right.svg grey6;
	fill-alpha:0,1;
	line:none,none;
	corner-radius:0px;
	height:24px,12px;
	width:24px,12px;
	margin:0px,6px;
}
TreeList TreeListItem CheckBox:checked{
	fill:grey5,../../svg/arrow_down.svg grey6;
	fill-alpha:0,1;
	line:none,none;
}
/*Level 0*/
TreeList Container#lable TreeListItem CheckBox{
	margin:0px,6px;
}
TreeList Container#lable SelectTextButton Text{
	margin-left:1.5ems;
}
/*Level 1*/
TreeList Container#lable TreeListItem Container#lable TreeListItem CheckBox{
	margin-left:0.75ems,18px;
}
TreeList Container#lable TreeListItem Container#lable SelectTextButton Text{
	margin-left:2.25ems;
}
/*Level 2*/
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem CheckBox{
	margin-left:2.25ems,42px;
}
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable SelectTextButton Text{
	margin-left:3ems;
}
/*Level 3*/
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem CheckBox{
	margin-left:3ems,54px;
}
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable SelectTextButton Text{
	margin-left:4.5ems;
}
/*Level 4*/
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem CheckBox{
	margin-left:3.75ems,66px;
}
TreeList Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable TreeListItem Container#lable SelectTextButton Text{
	margin-left:5.25ems;
}
