/*General*/
MergeConflictView{
    fill:white;
    fill-alpha:1;
    float:none;
    clear:none;
    width:100%;
    height:100%;
    padding:12px;
}
/*HeaderText*/
MergeConflictView Text#header{
	width:100%;
	height:32px;
	color:<TextTheme2>;
	align:center;
}
/*TextInput*/
MergeConflictView TextInput{
	float:left;
	clear:left;
	height:32px;
	width:100%;
}
MergeConflictView TextInput Text{
	width:100px;
	color:<TextTheme2>;
	border:false;
	align:left;
	bold:true;
}
MergeConflictView TextInput TextArea{
	width:calc(100% -100px);
	fill:#E8EAEB;/*2A3D51*/
	drop-shadow:none;
	line-alpha:0;
	line-thickness:0px;
	/*fill:white9;*/
	fill-alpha:1;
}
MergeConflictView TextInput TextArea Text{
	width:100%;
	color:<TextTheme2>;/*192633*/
	align:left;
}
/*CheckBox*/
MergeConflictView CheckBoxButton{
	width:100px;
	margin-left:calc(50% -106px);
	/*width:120px;*/
	height:24px;
	float:left;
	clear:left;
}
MergeConflictView CheckBoxButton CheckBox{
	float:left;
}
MergeConflictView CheckBoxButton Text{
	width:100px;
	color:<TextTheme2>;
	border:false;
	align:right;
	background:true;
	background-color:green;
}
/*Confirm buttons*/
MergeConflictView TextButton#cancel{
	fill:white5;
	float:left;
	clear:left;
	width:100px;
	margin-left:calc(50% -106px);
	height:24px;
	margin-right:6px;
    margin-top:4px;
}
MergeConflictView TextButton#ok{
	fill:#2AA3EF;
	float:left;
	clear:none;
	width:100px;
	height:24px;
    margin-top:4px;
}
MergeConflictView TextButton#ok Text{
	color:#E8EAEB;
	backgroundColor:orange;
	background:false;
	border:false;
    margin-top:0px;
}
MergeConflictView TextButton#cancel Text{
    margin-top:0px;
}