/*HeaderText*/
MergeConflictView Text#header{
	width:100%;
	height:32px;
	color:<TextTheme2>;
	align:center;
}
/*General*/
MergeConflictView{
    fill:yellow;
    fill-alpha:1;
    float:none;
    clear:none;
    width:100%;
    height:100%;
    padding:12px;
}
/*TextInput*/
MergeConflictView TextInput{
	float:left;
	clear:left;
	height:32px;
	width:100%;
}
MergeConflictView TextInput Text{
	width:100px;
	color:<TextTheme2>;
	border:false;
	align:left;
	bold:true;
}
MergeConflictView TextInput TextArea{
	width:calc(100% -100px);
	fill:#E8EAEB;/*2A3D51*/
	drop-shadow:none;
	line-alpha:0;
	line-thickness:0px;
	/*fill:white9;*/
	fill-alpha:1;
}
MergeConflictView TextInput TextArea Text{
	width:100%;
	color:<TextTheme2>;/*192633*/
	align:left;
}